body {
    background-color: lightgray;
}
header {
    display: flex;
    background-color: rgb(0, 111, 119);
    color:aliceblue;
    padding: 25px;
    align-items: center;
	justify-content: space-between;
    
}

.navbar a {
    color: aliceblue;
    list-style-type: none;
    display: inline-flex;
    text-align: right;
}

section {
    display: flex;
    border: 1px solid white;
}

.text {
    border: 1px solid white;
    width: 25%;
    margin: 25px;
    margin-left: 100px;
    padding-left: 65px;
    font-size: 40px;
    text-align: center;
    
}

.manpanda {
    margin: 12.5px;
    width: 75%;
    height: 460px;
    
}

.text2 {
    border: 1px solid white;
    width: 75%;
    font-size: 18px;
    padding-left: 95px;
    line-height: 1.6;
}

.text3 {
    width: 25%;
    font-size: 18px;
    padding-left: 35px;
    line-height: 1.6;
}

.lastdiv img {
    width: 200px; 
	height: 150px;
    
}

.imgtext {
    width: 25%;
    padding-left: 95px;
    border: 1px solid white;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        background-color: lightgray;
    }
    header {
        display: flex;
        background-color: rgb(0, 111, 119);
        color:aliceblue;
        padding: 25px;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .navbar a {
        color: aliceblue;
        list-style-type: none;
        display: inline-flex;
        text-align: right;
    }
    
    section {
        display: flex;
        border: 1px solid white;
    }
    
    .text {
        border: 1px solid white;
        width: 25%;
        margin: 25px;
        margin-left: 100px;
        padding-left: 65px;
        font-size: 40px;
        text-align: center;
        
    }
    
    .manpanda {
        margin: 12.5px;
        width: 75%;
        
    }
    
    .text2 {
        border: 1px solid white;
        width: 75%;
        font-size: 18px;
        padding-left: 95px;
        line-height: 1.6;
    }
    
    .text3 {
        width: 25%;
        font-size: 18px;
        padding-left: 35px;
        line-height: 1.6;
    }
    
    .lastdiv img {
        width: 200px; 
        height: 150px;
        
    }
    
    .imgtext {
        width: 25%;
        padding-left: 95px;
        border: 1px solid white;
    }
    
}